:host {
  display: inline-block;
  padding: 32px;
  width: 50vw;
  border: 1px solid black;
  border-radius: 8px;
}
.questionNav{
  margin:2em;
  div {
    display: inline;
  }
  fa-icon{
    padding: 1em
  }
}

