<div class='flippable-card' (click)='flipCard()'>
  <mat-card >
    <mat-card-title>Question {{question.id}} of {{numQuestions}} </mat-card-title>
    <mat-card-subtitle>{{question.group}}</mat-card-subtitle>
    <mat-card-content *ngIf="!isFlipped">{{question.question}}</mat-card-content>
    <mat-card-content *ngIf="isFlipped">{{question.answer}}</mat-card-content>
  </mat-card>
</div>
<div class="questionNav"fxLayout="column" fxLayoutGap="32px">
  <a *ngIf="question.id>1" [routerLink] = "['/question/', prevQuestion]">
    <fa-icon [icon]="faChevronLeft" title="previous" class="fa-3x"></fa-icon>
  </a>
  <a *ngIf="question.id < numQuestions" [routerLink] = "['/question/', nextQuestion]">
    <fa-icon [icon]="faChevronRight" title="next" class="fa-3x"></fa-icon>
  </a>
</div>
