:host {
  display: inline-block;
  border: 1px solid black;
  border-radius: 8px;
}


.questionNav {
  margin: 0 4em;
  div {
    display: inline;
  }
  fa-icon {
    padding: 0.25em;
  }
  fa-icon[title="previous"] {
    float: left;
  }
  fa-icon[title="next"] {
    float: right;
  }
}



