.flippable-card {
  padding-top: 1em;
}
.mat-card{
  min-width: 40vw;
  padding:0;
}

.mat-card-title {
  margin-bottom: 1em;
}

.mat-card-actions{
  min-height: 5vh;
  * {
    padding:1em 1em 0
  }
}
.flexSpacer{
  flex: 1 1 auto;
}

